# Flask based settings
DEBUG = True

# Directory where certs, revocation lists, serials etc will be kept
CA_ROOT = "/path/to/ca"

# X.509 Name Attributes used to generate the CA Certificate
CA_X509_CN = 'SCEPY-CA'
CA_X509_O = 'SCEPy'
CA_X509_C = 'AU'

# SubjectAltName extension is always on and will use this DNSName
SAN_DNSNAME = 'scepy.dev'

# Listen port
PORT = 5000

# (Optional) SCEP static challenge
SCEP_CHALLENGE = 'sekret'

# Raw data will be dumped to this directory for inspection with tools such as OpenSSL
DUMP_DIR = '/tmp/scepy_dump'
